# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# Docker volumes / database
# =========================
dbdata/
docker-data/

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# WWW folder
# Ignore all except index.php
# =========================
www/*
!www/index.php
