version: "3.9"

services:
  web:
    build: ./php85
    container_name: apache_php85
    ports:
      - "8082:80"
    volumes:
      - ./www:/var/www/html
      - ./apache:/etc/apache2/sites-enabled
    depends_on:
      - db
    networks:
      - webnet

  db:
    image: mariadb:lts
    container_name: mariadb_lts
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3309:3306"
    networks:
      - webnet

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin_php83
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8086:80"
    depends_on:
      - db
    networks:
      - webnet

networks:
  webnet:

volumes:
  dbdata:

